<%+header%>
<h2 name="title"><%=title%></h2>
<h5>‣ <a href='https://www.ntop.org/products/traffic-analysis/ntop/'>ntopng</a> is a network traffic probe that provides 360° Network visibility, with its ability to gather traffic information from traffic mirrors, Netflow exporters, SNMP devices, Firewall logs, Intrusion Detection systems.</h5>
<h5>‣ In a home network context, it can be used to detect P2P activity, malicious activities, live traffic performance analytics when testing bonding solutions such as retransmissions.</h5>
<h5>‣ Deep packet inspection to identify encrypted traffic type.</h5>
<hr>
<h5>Setup on machines with more than 2GB storage free space is done by simply clicking Download and Enable in Configuration tab above.</h5>
<hr>
<h5>Setup on embedded routers with less than 4GB storage utilize external storage:</h5>
<h5>Download and flash image via dd/BalenaEtcher from: <a href='https://github.com/SmoothWAN/SmoothWAN-chroot-imagebuilder/releases/tag/main'>https://github.com/SmoothWAN/SmoothWAN-chroot-imagebuilder/releases/tag/main</a></h4>
<br>
<h5>‣ Slate AX / Flint: <i>smoothwan_debuster_armv7l.img.gz</i></h5>
<h5>‣ Raspberry Pi 4 / Banana Pi R64/R3: <i>smoothwan_debuster_aarch64.img.gz</i></h5>
<h5>‣ PC-Intel/AMD: <i>smoothwan_debuster_x86_64.img.gz</i></h5>
<br>
<h5> Then simply plug-in the storage medium via USB, and check Enable in Configuration tab, Save & Apply.</h5>
<%+footer%>