<%+header%>
<h2 name="title"><%=title%></h2>
<h5>Setup after installing Speedify or setting up a WAN:</h5>
<img src="/luci-static/resources/view/piholeconf/1.png" style="max-height:300px">
<h5>Installation takes approximatiely ~3 minutes, manually refresh the page to update log contents.<br>Bottom of the log output after succesful installation should be similiar to:</h5>
<img src="/luci-static/resources/view/piholeconf/2.png">
<h5>You can now visit Pi-hole admin page by the following address: <a href="http://172.17.17.3/admin" target="_blank">http://172.17.17.3/admin</a></h5><br>
<h3>After installation: </h3>
<h5>‣ SmoothWAN DHCP settings are automatically configured after installation.<br>
‣ Reconnect every device on the network that is connected to SmoothWAN to update the DNS settings.<br>
‣ Updating Pi-hole is done by simply clicking "Trigger Install/Update", no further actions are needed.</h5>
<%+footer%>
