<%+header%>
<h2 name="title"><%=title%></h2>
<h5>‣ Pi-hole is a network-wide adblocker simplified<br>
    ‣ In addition to adblocking, Pi-hole has an informative Web interface that shows stats on all the domains being queried on your network.<br>
Setup after installing Speedify or setting up a WAN:</h5>
<img style="border:6px solid #d2ccf1;max-height:300px;" src="/luci-static/resources/view/piholeconf/1.png">
<h5>Installation takes 3 to 10 minutes depending on storage/internet speed.
<br>Log should should be similiar to:</h5>
<img style="border:6px solid #d2ccf1;"src="/luci-static/resources/view/piholeconf/2.png">
<h5>You can now visit Pi-hole admin page by the following address: http:// <i>IP address In Configuration Tab</i> /admin</h5><br>
<h3>After installation: </h3>
<h5>‣ SmoothWAN DHCP settings are automatically configured after installation.<br>
‣ Reconnect every device on the network that is connected to SmoothWAN to update the DNS settings.<br>
‣ Updating Pi-hole is done by simply clicking "Trigger Install/Update", no further actions are needed.<br>
‣ Update Pi-hole after changing LAN address to update global network settings.</h5>
<%+footer%>
