<%+header%>
<h2 name="title"><%=title%></h2>
<h5>‣ <a href="https://github.com/wangyu-/tinyfecVPN">TinyFEC VPN (by wangyu-)</a>: A VPN Designed for Lossy Links, with built-in Forward Error Correction (FEC). Improves your network quality on a high-latency lossy link.</h5>
<h5>‣ Corrects a single internet source (WAN) only.</h5>
<h5>‣ Improves network speed on lossy internet connections by sending redundant packets.</h5>
<h5>‣ Low goodput on high throughput connections due to the redundancy, however dynamic adjustment is tuned.</h5>
<h5>‣ Dynamic adjustment increases/decreases redundant packets on packet loss levels to reduce bandwidth waste.</h5>
<h5>‣ Latency variations and high latency is a side effect of correcting packet loss.</h5>
<h5>‣ Significant performance improvements are noticeable with TCP connections and DNS queries.</h5>
<h5>‣ Processing intensive, requiring 3.0Ghz Intel/AMD router and server for >100Mbit speeds.</h5>
<hr>
<h4>Server setup using Vultr as an example with cloud-init:</h4>
<h5>Visit <a href='https://my.vultr.com/'>https://my.vultr.com</a> and login/signup, then follow the arrows:</h5>
<img style="border:6px solid #d2ccf1;" src="/luci-static/resources/view/tinyvpnconf/1.webp" style="max-height:300px"/><br>
<h5>Choose Cloud Compute</h5>
<img style="border:6px solid #d2ccf1;" src="/luci-static/resources/view/tinyvpnconf/2.webp" style="max-height:300px"/><br>
<h5>Choose High Frequency (since TinyFEC VPN is single threaded)</h5>
<img style="border:6px solid #d2ccf1;" src="/luci-static/resources/view/tinyvpnconf/3.webp" style="max-height:300px"/><br>
<h5>Choose latest Ubuntu and the nearest location, example selects European region</h5>
<img style="border:6px solid #d2ccf1;" src="/luci-static/resources/view/tinyvpnconf/4.webp" style="max-height:300px"/><br>
<h5>Choose a plan according to bandwidth to be used, not hardware resources</h5>
<img style="border:6px solid #d2ccf1;" src="/luci-static/resources/view/tinyvpnconf/5.webp" style="max-height:300px"/><br>
<h5>Copy and paste the content below then locate and change the password in the pasted content:</h5>
<iframe style="border:6px solid #d2ccf1;" src="/luci-static/resources/view/tinyvpnconf/user-data.txt"></iframe>
<img style="border:6px solid #d2ccf1;" src="/luci-static/resources/view/tinyvpnconf/6.webp" style="max-height:300px"/><br>
<h5>Wait few minutes till the IP address appears, and note it down</h5>
<h5>You can wait few minutes or monitor progress by clicking View Console</h5>
<img style="border:6px solid #d2ccf1;" src="/luci-static/resources/view/tinyvpnconf/7.webp" style="max-height:300px"/><br>
<img style="border:6px solid #d2ccf1;" src="/luci-static/resources/view/tinyvpnconf/8.webp" style="max-height:300px"/><br>
<h5>Copy the noted IP address & password in the configuration tab of this page and check Enable, Save & Apply</h5>
<img style="border:6px solid #d2ccf1;" src="/luci-static/resources/view/tinyvpnconf/9.webp" style="max-height:300px"/><br>
<h5>All done! Check your IP address at ping.eu,speedtest.net,etc... to check if it's working correctly, it should match the IP address of your server.</h5>
<hr>
<h3>Notes:</h3>
<h5>
‣ The server is setup to forward all ports to your SmoothWAN appliance/router.<br>
‣ Modern implementation UPnP is automatically configured and enabled for Open NAT.<br>
‣ You can also forward ports in VPN -> VPN Port Forwarding.<br>
‣ Changing password is done by simply changing the cloud-init field and doing a server reinstall.<br>
‣ VPN via server providers is (usually) not log-free as it's used for abuse monitoring, privacy may be equivalent to a direct ISP connection.<br>
‣ You can use other providers, Vultr is used as it's the easiest, there is no affiliation.<br>
‣ You may need to modify the cloud-init script for some providers, it's limited to KVM/Virt machines only.<br>
‣ SSH on the server is disabled by default.<br>
<%+footer%>