<%+header%>
<h2 name="title"><%=title%></h2>
<h5>‣ AdGuard Home is a local network-wide advertising blocker.<br>
<h4>How to enable adblocking:</h4>
‣ Visit <a id="IP"></a> and click "Enable protection"<br>
<img style="border:6px solid #d2ccf1;" src="/luci-static/resources/view/adhomeconfig/1.png" style="max-height:300px"/><br>
<h4>Notes:</h4>
‣ You can change password in the configuration tab of this page.<br>
<%+footer%>
<script>
    document.getElementById("IP").innerHTML =
    "http://" + location.host + ":3000/";
    document.getElementById('IP').href=
    ''+window.location.origin+':3000';
</script>